VITE_APP_APPWRITE_URL = "https://sgp.cloud.appwrite.io/v1"
VITE_APP_APPWRITE_PROJECT_ID = "6a7b4dd90002137b2a31"
VITE_APP_APPWRITE_DATABASE_ID = "6a7b4f9a0000c3a9a496"
VITE_APP_APPWRITE_COLLECTION_ID = "create"
VITE_APP_APPWRITE_BUCKET_ID = "6a7c8957000541b203c6"



